.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 1.1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    opacity: .85;
    background: #F5F5F5;  
    background: -webkit-linear-gradient(to bottom, #F5F5F7, #bdbdbc);  
    background: linear-gradient(to bottom, #F5F5F7, #bdbdbc); 
}

.footer .icon{
    transition: 0.5s;
}